.error {color: #FF0000;}

div.content {
    background-color: #f3f3f3;
    border: 1px solid;
    margin-left: 3%;
    margin-top: 1%;
    width: 50%;

    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;

    box-shadow: 0px 5px 25px #888888;
}

div.content-center {
    background-color: #f3f3f3;
    border: 1px solid;
    margin-top: 1%;
    width: 50%;

    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 15px;

    margin-bottom: 15px;

    box-shadow: 0px 5px 25px #888888;

    position: relative;
    float: left;
    left: 23%;
}

body {
    background-color: #d3d3d3;
}

.header {
  height: 50px;
  background-image: linear-gradient(to bottom, #BBB 0%, #AAA 100%);
  box-shadow: 0px 5px 25px rgb(153, 153, 153);
  border: 1px solid rgb(119, 119, 119);
  font-size: 16pt;
}

.header a:link {
  color: white;
}

.header a:visited {
  color: white;
}

.header a:hover {
  color: #333;
}

.headerUsername {
  line-height: 52px;
  padding-left: 20px;
  float:left;
}

.headerSearch {
  border: 1px solid rgb(119, 119, 119);
  font-size: 14px;
}

.headerSearchContainer {
  float: left;
  padding-top: 14px;
  padding-left: 5px;
}

.searchExample {
  color: #e22;
}

.headerLogout {
  float: right;
  padding-top: 15px;
  padding-right: 20px;
}

.indexHome {
  float: right;
  padding-top: 15px;
  padding-right: 12px;
}

noscript {
  color: #f00;
  font-size: 14pt;
}

.frontpageSearch {
  border: 1px solid rgb(119, 119, 119);
  font-size: 16pt;
}

.NOISEFACTION {
  text-align: center;
  font-size: 24pt;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24pt;
}

.songPlayer {
  background-color: #f3f3f3;
  border: 1px solid;
  margin-top: 1%;
  width: 50%;
  
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 15px;
  
  box-shadow: 0px 5px 25px #999;
  
  position: relative;
}

.songDetailsTable {
  position: relative;
  float: right;
  margin-left: 10px;
}

.score {
  font-size: 16pt;
  color: #A52A2A;
  margin-right: 10px;
}

.playerButton {
  width: 40px;
  height: 40px;
  font-size: 16pt;
}


th {
    background-color: #aaaaaa;
    opacity: 0.4;
    color: white;
}
table {
	box-shadow: 1px 0px 10px #999999;
    border-collapse: collapse;
}

#table, td, th {
#    border: 1px;
#    color: white;
#    box-shadow: 1px 0px 10px #999999;
#}
#td {
#	background-color: black;
#	opacity: 0.4;
#	height: 100px;
#   text-align: center;
#}

#td:hover {
#    opacity: 1.0;
#  
#}

